<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bookin details</h1>
    <h1>{{car_details.carmodel}}</h1>
    <h1>{{car_details.transmition}}</h1>
    <h1>{{car_details.engine}}</h1>
    <h1>{{car_details.rent}}</h1>
    <h1>{{booking_details.pickup}}</h1>
    <h1>{{booking_details.dropoff}}</h1>
    <h1>{{booking_details.pick_date}}</h1>
    <h1>{{booking_details.drop_date}}</h1>
    <h1>{{booking_details.time}}</h1>
    
</body>
</html>